@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  font-size: 1.5rem;
  color: #fff;
  padding-top: 3.5%;
  display: grid;
  place-items: center;
  background: #000000; /* Added background property */
  font-family: "Ubuntu Mono", monospace; /* Added font-family property */
  z-index: 1;
}

body{
  background-color: #000000;
}

.body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: #000000;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 500px;
  gap: 10px;
  z-index: 1;
}

.container > div {
  flex: 0 0 200px;
  border-radius: 0.5rem;
  transition: 0.5s ease-in-out;
  /* cursor: pointer; */
  box-shadow: 1px 5px 15px #1e0e3e;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.container > div:nth-of-type(1) {
  background: url("images/basketball.jpg") no-repeat 50%/cover;
}

.container > div:nth-of-type(2) {
  background: url("images/football.jpg") no-repeat 50%/cover;
}

.container > div:nth-of-type(3) {
  background: url("images/tennis.jpg") no-repeat 50%/cover;
}

.container > div:nth-of-type(4) {
  background: url("images/hockey.jpg") no-repeat 50%/cover;
}

.container > div .content {
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 15px;
  opacity: 0;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  background: #02022e;
  background: linear-gradient(0deg, rgba(2, 2, 46, 0.6755077031) 0%, rgba(255, 255, 255, 0) 100%);
  transform: translatey(100%);
  transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
  visibility: hidden;
}

.container > div .content span {
  display: block;
  margin-top: 5px;
  font-size: 1.2rem;
}

.container > div:hover {
  flex: 0 0 300px;
  box-shadow: 1px 3px 15px #7645d8;
  transform: translatey(-30px);
}

.container > div:hover .content {
  opacity: 1;
  transform: translatey(0%);
  visibility: visible;
}

#myfootVideo {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

#mybasketVideo {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

#mytennisVideo {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

#myHockeyVideo {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.container a {
  text-decoration: none;
  color: inherit;
}

.container a:hover {
  color: inherit;
}

.footer{
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 3.5rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 80px 13% 70px;
  background-color: #1e0e3e;
  text-decoration: none;
  color: #fff;
}

.footer_content h4{
  margin-bottom: 1.5rem;
  font-size: 20px;
  /* color: #fff; */
}

.footer_content li{
  margin-bottom: 16px;
  list-style: none;
  text-decoration: none;
}

.footer_content li a{
  display: block;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  transition: all .40s ease;
}

.footer_content li:hover {
  transform: translateY(-3px) translateX(-5px);
  color: #ffffff52;
  text-decoration: none;
}

.footer_content h4 a{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  transition: all .40s ease;
  text-decoration: none;
}

.footer_content h4 a:hover {
  transform: translateY(-3px) translateX(-5px);
  color: #fff;
  text-decoration: none;
}